/* project card */
.card_wrap{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 60%;
    padding: 10px;
    color: black;
    border-radius: 10px;
    /* border: 2px solid black; */
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: auto 30px;
    background-color: #ffffff;
}
.card_wrap::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: rgb(187, 123, 196);
    border-radius: 10px 10px 0 0;
}
.card_wrap .logo {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #ffffff;
}
.card_wrap .logo img {
    max-width: 130px;
    height: auto;
    object-fit: scale-down;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.card_wrap .text{
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_wrap .text p{
    font-size: 1rem;
    font-weight: 500;
}
.card_wrap .text p:first-child{
    color: #ffffff;
    margin-top: 30%;
    font-size: 1.5rem;
}
.card_wrap .text p:nth-child(4){
    color:#696969;
}